/*
font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;
colors:
#98DDCA
#A1E6D3
#D5ECC2
#FFAAA7
#FFC3C1
*/
/***************************************************************/
/* General */
/***************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color:#888;
  line-height: 140%;
  width: 100%;
  margin: 0;

}

section {
width: 100%;
padding:6% 7%;
text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-lg-4{padding:0;display: flex; justify-content: center;
}

a:link, a:visited {
  text-decoration: none;
  color: white;
}



.divider-hr{
margin:50px 45% 10px;
width: 10%;
color: #ddd;
height:5px;
border-width:0 0 5px;
border-style: dotted;

}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-box{
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:stretch;
  width:100%;
  height: 260px;
  background-size: contain;
  background-color: #fff;
}

.info-box{
  font-size: 90%;
  width:100%;
  height: 50px;
  background-color: #fff;
display: flex;
flex-direction: column;
justify-content: center;
}
/******************************************************************/
/* Titles */
/******************************************************************/
h2{
font-weight: 500;
font-size: 160%;
text-align: center;

}

h3{
  font-weight: 400;
  font-size: 110%;
  margin:30px auto;
text-align: center;
}

.subtitle {
margin-top: 10px;
  margin-bottom: 60px;
  font-size: 110%;
}

/*****************************************************************/
/* Buttons */
/****************************************************************/
.btn:link, .btn:visited {
  padding: 10px 15px;
  border-radius: 5px;
  border: solid 1px #A1E6D3;
  margin-right: 20px;
  font-size: 100%;
  font-weight: 400;
  transition: background 0.5s, color 0.5s;
}

.btn-full:link, .btn-full:visited {
  background-color: #72d0b6;
  color: #fff;

}

.btn-full:hover {
  background-color:#3fbf9c;
  border: solid 1px #3fbf9c;
}

.btn-line:link, .btn-line:visited {
  color: #98DDCA;
}

.btn-line:hover {
  background-color: #fff;
  border: solid 1px #fff;
  color:#3fbf9c;
}

/*****************************************************************/
/* Header */
/*****************************************************************/
header {
  height: 100vh;
  background-size: cover;
  background-position: bottom right;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(./images/bg.jpg);
  padding: 0 5%;
}

.hero-text {
  padding-top: 40px;
  margin-left: 3%;
}

.big-header {
  color: white;
  font-weight: 100;
  font-size: 325%;
  line-height: 140%;
  margin-bottom: 50px;
}


/*****************************************************************/
/* Navegation */
/*****************************************************************/

nav .row{margin-bottom:0; }
.nav-row {
  display: flex;
  align-items: center;
  padding:20px 30px 60px;
}

.main-nav {
  list-style: none;
  font-size: 90%;
  font-weight: 400;
}

.logo {
  width: 100px;
  margin-right: auto;
}

.menu{text-align: right;}
.menu-icon{
  font-size: 35px;
  color:#fff;
  position: relative;
  bottom:10px;
  display: none !important;
}
.main-nav li {
  display: inline-block;
  margin-left: 50px;
}

.visible{
  display: inline-block !important;
}
.main-nav li a:link, .main-nav li a:visited {
  text-decoration: none;
  color: #fff;
  border-bottom: solid 2px transparent;
}

.main-nav li a:hover {
  padding-bottom: 10px;
  border-bottom: solid 2px #98DDCA;
}

.language{
  color:#FFC3C1;
  font-size: 60%;
  margin-right: 30px;
  margin-left: auto;
  margin-top: 30px;
}

/*******************************************************/
/* Section Sobre */
/*******************************************************/
.sobre{
  display: flex;
  justify-content: center;
  align-items: center;
    margin-bottom: 50px;
}

.sobre h2{
  color:#ff9a96;
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 170%;
  text-align: left;
}

.text-box{text-align: justify; width:50%; line-height: 150%;}
.text-box p{margin-bottom: 10px;}

.joana-img{
width:20%;
border-radius: 100%;
vertical-align: middle;
margin-right: 50px;
}

.section-sobre h3{
  background-color: #FFAAA7;
  color:#fff;
  font-weight: 90%;
  font-weight: 500;
  padding: 3px 0;
  border-radius: 15px;
  margin-bottom: 30px;
}
.section-sobre .box{
  flex-direction:row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  width:85%;
  margin-left: 7.5%;
  line-height: 130%;
}
.interests-box{font-size: 80%; width:90%;margin-left: 5%;text-align: center;color: #666;}
.interest-icon{font-size: 180%; margin-bottom: 10px;}
/***********************************************************/
/* Section Education */
/***********************************************************/

.section-education{
  background-image:linear-gradient(#A1E6D3,#afded8,#ebf7f5);
  position: relative;

}
.section-education .row:first-of-type{display: flex; flex-direction: column;justify-content: center;padding:0 7%;}
.section-education .row:last-of-type{display: flex;justify-content: center;padding:0 7%;}

.section-education h2 {
  z-index: 999;
  color:#444;
}

.school-img{
  width:35%;
  margin-left: 32.5%;
  margin-bottom: 35px;
}

.liceu-box .school-img {width:15%;margin-left: 42.5%;margin-bottom: 30px;}
.roma-box .school-img {width:20%; margin-left: 40%;margin-bottom: 30px;}
  .fep-box{ background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0, 0,0)), url(./images/fep.jpg); background-position: center;background-size: cover;}
  .nova-box{ background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0, 0,0)), url(./images/nova-sbe.jpg);  background-position: center;background-size: cover;}
  .roma-box{ background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0, 0,0)), url(./images/tor-vergata.jpg);  background-position: center;background-size: cover;}
  .liceu-box{ background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0, 0,0)), url(./images/liceu.jpg); background-position: center;background-size: cover;}

.date, .city{font-size: 80%;color:#5fecd0;font-weight: 500;line-height: 120%;}
.city{color:#eee;}
.course{color:#eee; font-weight: 600;font-size: 120%;margin-bottom: 25px;}

.section-education h3 .subtitle{color:#222;}
.média{margin:0;}
/***********************************************************/
/*Section Experiência*/
/***********************************************************/

.section-experience h2 {
  color:#ff9a96;
}

.section-experience h4{
  font-weight: 600;
  font-size: 90%;
  color:#ff9a96;
  margin-top: auto;
}
.company{
  font-weight: 600;font-size: 130%; color:#fff; margin: 0;
}

.section-experience .title-box{
padding: 40px 70px 30px;
justify-content: center;
  background-size: cover;
  height: 200px;
  background-position: center;
  overflow: hidden;
  color: #fff;
  border: solid 1px #eee;
  width:100%;
}
.experience-box{
  display: flex;
  justify-content: space-between;
}
.experience{width: 100%;}
.melia-box{ background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0, 0,0,0.8)), url(./images/melia.jpg); background-position: center;background-size: cover;}
.portobay-box{background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0, 0,0,0.8)), url(./images/portomare.jpg);  background-position: center;background-size: cover;}
.df-box{ background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0, 0,0,0.8)), url(./images/df.jfif);  background-position: center;background-size: cover;}

.section-experience .melia-box:hover{background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0, 0,0,0.5)), url(./images/melia.jpg);}
.section-experience .portobay-box:hover{background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0, 0,0,0.5)), url(./images/portomare.jpg);}
.section-experience .df-box:hover{background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0, 0,0,0.5)), url(./images/df.jfif);}

.date1{
  font-size: 80%;
  color:#eee;
  line-height: 100%;
}

.section-experience .info-box{
background-color: #fafafa;
  color:#333;
  width: 100%;
  height: 200px;
  padding: 30px 20px;
  border: solid 1px #fff;
  justify-content: flex-start;
}

.info-box ul{
  list-style: none;
  font-size: 90%;
}

.job{font-weight: 600; font-size: 105%;margin-bottom: 10px;}
/****************************************************************/
/* Skills Section */
/******************************************************************/
.skills-section{
  background-image:linear-gradient(#ff9a96,#FFAAA7,#FFC3C1);
  color:#555;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-section h2{
  color:#9e5451;
}
.skills-section .subtitle{
  color:#fff;
  font-size: 130%;
}
.skills-box{
  width:90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-box .row{width:100%; display: flex; justify-content: space-between;}
.ghost{display: none;}
.ghost1{display: none;}

.skill{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:190px;
  height:190px;
  border-radius: 100%;
  background-color: #fafafa;
  border: outset 10px #ff9a96;

}

.skill-icon{
  font-size: 170%;
  margin-bottom: 15px;
}
/**************************************************************/
/* Contact Section */
/**************************************************************/
.section-contact{
  padding:7%;
}
.section-contact h4{
  font-size: 100%;
padding:5px 0;
background-color: #afded8;
color:#fff;
border-radius: 25px;
margin-bottom: 15px;
text-align: center;
}

.section-contact h2{
  margin-bottom: 10px;
  color: #afded8;
  font-size: 160%;
}


.contact-info{
  font-weight: 90%;
  background-color: #fff;
  color:#777;
  text-align: center;
}

.contact{
  width:80%;
  margin-left: 10%;
}

/***************************************************************/
/* Footer */
/***************************************************************/
footer{
  background-image:linear-gradient(to left bottom,#333, #222);
  color:#eee;
  font-size: 95%;
  padding:30px 5%;
}

.footer-box{
  display: flex;
  justify-content: space-between;
}
footer ul{display: flex; justify-content: space-between;}
footer .main-nav {width:35%;}
footer .main-nav li{margin:0;}
footer .main-nav li a:hover, footer .footer-icon:hover{
  color: #FFC3C1;
  border-bottom: solid 2px transparent;
}

.social-nav{
  width:8%;
  list-style: none;
  }

.footer-icon{
  font-size: 150%;
}

.copy{
  text-align: center;
  font-size: 75%;
  margin-top: 20px;
  color: #999;
}
