@media only screen and (max-width:1200px){
.interests-box .box{width:90%;margin-left:5%;}
section{padding:5% 4%;}
.col-md-6{margin-bottom: 20px;}
.school-img{margin-top: 20px;}
.section-education .title-box{padding: 40px 0}
.city{ margin-bottom: 30px;}
.section-experience .title-box{padding:20px 10px;}
.section-experience .info-box{height: 220px;}
.skill{height:150px; width:150px;font-size: 80%;}
.social-nav{width:10%;}
}

@media only screen and (max-width:990px){
.interests-box{width:80%; font-size: 90%;margin: 15px 0;}
.interests-box .box{width:70%;margin-left:15%;}
.experience-box{display: block;width:80%; margin-left: 10%;flex-direction: column;}
.experience{margin-bottom: 30px;}
.experience .title-box{padding-top:30px;}
.experience .info-box{height:180px;padding-top:20px;}
section{padding:7% 1%;}
.ghost{display:block;}
.col-md-4{display: flex;justify-content: center;}
.col-lg-3{display: flex; justify-content: center;}
}


@media only screen and (max-width:900px){
  .main-nav li{display: block; text-align: right; border: none;}
  .main-nav li a:hover{color:#afded8; border: none;}
.sobre {flex-direction: column; align-items: center;}
.sobre h2{text-align: center; margin-top: 15px;}
  .text-box{width: 80%;}
  .joana-img{margin:0;}
  footer .main-nav{width:45%;}
  .social-nav{width:20%;}
}

@media only screen and (max-width:768px){
.company{font-size: 105%;}
.experience .title-box{padding: 20px 50px;}
h2{font-size: 120%;}
h3{font-size: 110%;}
.subtitle{font-size: 100%;}
.experience .info-box{font-size: 80%;}
.school-img{
  width:20%;
  margin-left: 40%;
  margin-bottom: 35px;
}
.liceu-box .school-img {width:10%;margin-left: 45%;margin-bottom: 30px;}
.roma-box .school-img {width:15%; margin-left: 42.5%;margin-bottom: 30px;}
.ghost{display: none;}
.ghost1{display: block;}
.skill{margin-bottom: 20px;}
footer .main-nav{display: block; padding-left: 20px;}
footer .main-nav li{text-align: left;}
.social-nav{display: block;margin-right: 0; width:5%;}
.big-header{font-size: 200%;}
.hero-text{margin-left: 5%;}
section{padding:8% 3%;}

}
